@layer components {
    #inicio-media-container {
        animation: inicio-video-animation 1.5s ease-in-out 1.5s 1 normal both running;
    }
    #inicio-title-container {
        animation: inicio-title-animation 1.5s ease-out 3s 1 normal both running;
    }
}

@keyframes inicio-video-animation {
    from {
        filter: none;
        padding: 0 0;
    }
    to {
        filter: brightness(80%);
        padding: 7rem 7vw;
    }
}

@keyframes inicio-title-animation {
    from {
        opacity: 0%;
        transform: scale(90%);
    }
    to {
        opacity: 100%;
        transform: none;
    }
}
