@import "tailwindcss";
@source not "_site/";
@source not "node_modules/";

:root {
    font-optical-sizing: auto;
}

@view-transition {
  navigation: auto;
}

@theme {
    --default-font-family: "Lexend", sans-serif;
    --default-transition-duration: 600ms;

    --color-base-50:  var(--color-neutral-50);
    --color-base-100: var(--color-neutral-100);
    --color-base-200: var(--color-neutral-200);
    --color-base-300: var(--color-neutral-300);
    --color-base-400: var(--color-neutral-400);
    --color-base-500: var(--color-neutral-500);
    --color-base-600: var(--color-neutral-600);
    --color-base-700: var(--color-neutral-700);
    --color-base-800: var(--color-neutral-800);
    --color-base-900: var(--color-neutral-900);
    --color-base-950: var(--color-neutral-950);
}

@utility px-responsive {
    @apply px-4 lg:px-12
}
@utility pl-responsive {
    @apply pl-4 lg:pl-12
}
@utility pr-responsive {
    @apply pr-4 lg:pr-12
}

@utility btn-black {
    @apply text-base-50
    bg-base-900 hover:bg-base-700
    transition-colors;
}

@import "./tailwind/header.css";
@import "./tailwind/inicio.css";
